<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>dotViewer Quick Look</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.microsoft.typescript</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>public.swift-source</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>com.sun.java-source</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.shell-script</string>
				<string>public.bash-script</string>
				<string>public.csh-script</string>
				<string>com.netscape.javascript-source</string>
				<string>public.javascript</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.css</string>
				<string>net.daringfireball.markdown</string>
				<string>com.stianlars1.dotviewer.typescript</string>
				<string>com.stianlars1.dotviewer.tsx</string>
				<string>com.stianlars1.dotviewer.jsx</string>
				<string>com.stianlars1.dotviewer.rust</string>
				<string>com.stianlars1.dotviewer.go</string>
				<string>com.stianlars1.dotviewer.toml</string>
				<string>com.stianlars1.dotviewer.mdx</string>
				<string>com.stianlars1.dotviewer.scss</string>
				<string>com.stianlars1.dotviewer.vue</string>
				<string>com.stianlars1.dotviewer.svelte</string>
				<string>com.stianlars1.dotviewer.kotlin</string>
				<string>com.stianlars1.dotviewer.dockerfile</string>
				<string>com.stianlars1.dotviewer.graphql</string>
				<string>com.stianlars1.dotviewer.prisma</string>
				<string>com.stianlars1.dotviewer.sql</string>
				<string>com.stianlars1.dotviewer.env</string>
				<string>com.stianlars1.dotviewer.zsh</string>
				<string>com.stianlars1.dotviewer.zsh-theme</string>
				<string>com.stianlars1.dotviewer.shell-dotfile</string>
				<string>com.stianlars1.dotviewer.git-dotfile</string>
				<string>com.stianlars1.dotviewer.javascript-module</string>
				<string>com.stianlars1.dotviewer.backup</string>
				<!-- New UTIs added in Plan 03-02 -->
				<string>com.stianlars1.dotviewer.dist-sample</string>
				<string>com.stianlars1.dotviewer.env-config</string>
				<string>com.stianlars1.dotviewer.config</string>
				<string>com.stianlars1.dotviewer.rcfile</string>
				<string>com.stianlars1.dotviewer.package-config</string>
				<string>com.stianlars1.dotviewer.webserver-config</string>
				<string>com.stianlars1.dotviewer.lockfile</string>
				<string>com.stianlars1.dotviewer.logfile</string>
				<string>com.stianlars1.dotviewer.pid-cache</string>
				<string>com.stianlars1.dotviewer.datafile</string>
				<string>com.stianlars1.dotviewer.lua</string>
				<string>com.stianlars1.dotviewer.r</string>
				<string>com.stianlars1.dotviewer.julia</string>
				<string>com.stianlars1.dotviewer.nim</string>
				<string>com.stianlars1.dotviewer.zig</string>
				<string>com.stianlars1.dotviewer.vlang</string>
				<string>com.stianlars1.dotviewer.dlang</string>
				<string>com.stianlars1.dotviewer.elixir</string>
				<string>com.stianlars1.dotviewer.erlang</string>
				<string>com.stianlars1.dotviewer.clojure</string>
				<string>com.stianlars1.dotviewer.fsharp</string>
				<string>com.stianlars1.dotviewer.haskell</string>
				<string>com.stianlars1.dotviewer.ocaml</string>
				<string>com.stianlars1.dotviewer.tcl</string>
				<string>com.stianlars1.dotviewer.assembly</string>
				<string>com.stianlars1.dotviewer.nunjucks</string>
				<string>com.stianlars1.dotviewer.twig</string>
				<string>com.stianlars1.dotviewer.handlebars</string>
				<string>com.stianlars1.dotviewer.pug</string>
				<string>com.stianlars1.dotviewer.haml</string>
				<string>com.stianlars1.dotviewer.liquid</string>
				<string>com.stianlars1.dotviewer.doc-markup</string>
				<string>com.stianlars1.dotviewer.terraform</string>
				<string>com.stianlars1.dotviewer.hashicorp</string>
				<string>com.stianlars1.dotviewer.kubernetes</string>
				<string>com.stianlars1.dotviewer.devops</string>
				<string>com.stianlars1.dotviewer.cmake</string>
				<string>com.stianlars1.dotviewer.gradle-maven</string>
				<string>com.stianlars1.dotviewer.package-manager</string>
				<string>com.stianlars1.dotviewer.ruby-build</string>
				<string>com.stianlars1.dotviewer.taskrunner</string>
				<string>com.stianlars1.dotviewer.shell-variant</string>
				<string>com.stianlars1.dotviewer.powershell</string>
				<string>com.stianlars1.dotviewer.batch</string>
				<string>com.stianlars1.dotviewer.vbscript</string>
				<string>com.stianlars1.dotviewer.csharp</string>
				<string>com.stianlars1.dotviewer.scala</string>
				<string>com.stianlars1.dotviewer.astro</string>
				<string>com.stianlars1.dotviewer.protobuf</string>
				<string>com.stianlars1.dotviewer.less</string>
				<string>com.stianlars1.dotviewer.rst</string>
				<string>com.stianlars1.dotviewer.latex</string>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.source-code</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.property-list</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
